---
---

@import "minima";

:root {
    --aliby-black-color: black;
    --aliby-grey-color: #9b9b9b;
    --aliby-light-gray-color: #d9d9d9;
    --aliby-dark-pink-color: #dd9dae;
    --aliby-pink-color: #edccd5;
    --aliby-light-pink-color: #f9eaed;
    --aliby-dark-cyan-color: #007d87;
    --aliby-cyan-color: #80bdc2;
    --aliby-light-cyan-color: #cbe3e5;
}

img[alt="Tom Mårdh"] {
    width: 500px;
}

img[alt="Aliby"] {
    width: 200px;
}

.site-nav a.current {
  font-weight: bolder;
  color: white;
}

.site-nav {
  background-color: #dd9dae;
}
.site-header {
    background-color: #dd9dae;
    padding: 30px;
}


.site-header .wrapper a.site-title:link { text-decoration: none; }
.site-header .wrapper a.site-title:visited { text-decoration: none; }
.site-header .wrapper a.site-title:hover { text-decoration: none; }
.site-header .wrapper a.site-title:active { text-decoration: none; }

.site-header .wrapper a.site-title {
  color: white!important;
  text-shadow: -.25px -.25px 0 transparent, 
  .25px .25p transparent;
}

.site-header .wrapper a.site-title:hover {
text-shadow: -.25px -.25px 0 white, 
.25px .25px white;
}


.site-footer {
  background-color: #dd9dae;
  padding: 30px;
  color: white;
}

.site-nav .menu-icon svg {
  fill: white;
}

.svg-icon {
  fill: white;
}

.footer-col-wrapper {
  color: white;
}

.footer-col-wrapper a {
  color: white;
}

a.page-link:link { text-decoration: none; }
a.page-link:visited { text-decoration: none; }
a.page-link:hover { text-decoration: none; }
a.page-link:active { text-decoration: none; }

.site-nav .page-link {
    color: white;
    text-shadow: -.25px -.25px 0 transparent, 
    .25px .25p transparent;
}

 a.page-link:hover {
  text-shadow: -.25px -.25px 0 white, 
  .25px .25px white;
}

.wrapper {
  max-width: 1000px;
}

.main-menu-item {
  list-style-type: none;
  color: white;
}
