---
---

@import "minima";

:root {
    --aliby-black-color: black;
    --aliby-grey-color: #9b9b9b;
    --aliby-light-gray-color: #d9d9d9;
    --aliby-dark-pink-color: #dd9dae;
    --aliby-pink-color: #edccd5;
    --aliby-light-pink-color: #f9eaed;
    --aliby-dark-cyan-color: #007d87;
    --aliby-cyan-color: #80bdc2;
    --aliby-light-cyan-color: #cbe3e5;
}

img[alt="Tom Mårdh Small"] {
  width: 100px;
  transform: translateX(-25px) rotate(-10deg);
  border-color: white;
  border: solid;
  border-width: 5px;
}

img[alt="Tom Mårdh"] {
    width: 500px;
}

img[alt="Tom and the Oak"] {
  width: 1910px;
}

img[alt="Aliby"] {
    width: 100px;
}

.site-nav a.current {
  font-weight: bolder;
  color: white;
}

.site-nav {
}

.site-header {
  background-color: #dd9dae;
    padding: 25px;
}


.site-header .wrapper a.site-title:link { text-decoration: none; }
.site-header .wrapper a.site-title:visited { text-decoration: none; }
.site-header .wrapper a.site-title:hover { text-decoration: none; }
.site-header .wrapper a.site-title:active { text-decoration: none; }

.site-header .wrapper a.site-title {
  color: white!important;
  text-shadow: -.25px -.25px 0 transparent, 
  .25px .25p transparent;
}

.site-header .wrapper a.site-title:hover {
text-shadow: -.25px -.25px 0 white, 
.25px .25px white;
}


.site-footer {
  background-color: #dd9dae;
  padding: 30px;
  color: white;
}

.site-nav .menu-icon svg {
  fill: white;
}

.svg-icon {
  fill: white;
}

.footer-col-wrapper {
  color: white;
}

.footer-col-wrapper a {
  color: white;
}

a.page-link:link { text-decoration: none; }
a.page-link:visited { text-decoration: none; }
a.page-link:hover { text-decoration: none; }
a.page-link:active { text-decoration: none; }

.site-nav .page-link {
    color: white;
    text-shadow: -.25px -.25px 0 transparent, 
    .25px .25p transparent;
}

 a.page-link:hover {
  text-shadow: -.25px -.25px 0 white, 
  .25px .25px white;
}

.wrapper {
  max-width: 1000px;
}

.main-menu-item {
  list-style-type: none;
  color: white;
}

table th {
    background-color: #cbe3e5;
}

.columns-container2 {
    display:flex;
    justify-content:space-evenly;
}

.column-content2 {
    background-color: red;
}

.column-index2 {
    background-color: blue;
}

.column-content2, .column-index2 {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 100vh;
    width: 40%;
    text-align: center;
    font-weight:bold;
}
